@media screen and (max-width: 980px) {


}

@media screen and (max-width: 768px) {

  

}


@media screen and (max-width: 640px) {

}
#about{
    padding: 30px;

}  
.card-body {
    font-size: 1em;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align:center;


  }

